<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <% for (let i = 0; i < blogPost.length; i++) { %>
    <div>
      <h1><%= blogPost[i].title %></h1>
      <h3><%= blogPost[i].subtitle %></h3>
      <p><%= blogPost[i].blog_content %></p>
    </div>
    <% } %>
  </body>
</html>
