<!DOCTYPE html>
<html>
  <head>
    <title><%= blogPost.title %></title>
  </head>
  <body>
    <div class="blog-card">
      <h1><%= blogPost.title %></h1>
      <h3><%= blogPost.subtitle %></h3>
      <p><%= blogPost.blog_content %></p>
    </div>
  </body>
</html>
