<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="error-page">
      <h1>
        Uh-oh. Seems like more experience is needed as the website is too low of
        a level to have that page!
      </h1>
    </div>
  </body>
</html>
